#storeheader{
  width: 100%;
  min-width: 1920px;
  margin: auto;
  background:linear-gradient() ;
  background: linear-gradient(0deg, rgb(255, 255, 255,0.1) 0%,rgb(255, 255, 255) 50%, rgb(201, 201, 201) 100%);
  position: fixed;
  top: 0;
  z-index: 11111;
}
#storeheader>.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
}
#storeheader .left{
  display: flex;
  align-items: center;
}
#storeheader .left >.logo>img{
  width: 164px;
  height: 75px;
}
#storeheader .left >ul{
  display: flex;
  padding-left: 20px;
}
#storeheader .left >ul>li{
  font-family: 'ONE Mobile';
  color:#042866;
  font-size: 18px;
  margin-left: 40px;
  letter-spacing: 1px;
  font-weight: bold;
}
#storeheader .left >ul>li:hover{
  color:#f4a511;
}
#storeheader .left > ul > li:nth-child(7){
  font-family: 'ONE Mobile Regular';
  font-size: 14px;
  font-weight: bold;
  color: #222;
  padding-left: 20px;
}
#storeheader .left > ul > li:nth-child(8){
  font-family: 'ONE Mobile Regular';
  font-size: 14px;
  font-weight: bold;
  color: #222;
}
#storeheader .left > ul > li:nth-child(9){
  font-family: 'ONE Mobile Regular';
  font-size: 14px;
  font-weight: bold;
  color: #222;
}
#storeheader>.nav>.icon{
  display: flex;
  color:#042866;
  font-size: 18px;
  padding-right:20px;box-sizing: border-box;
} 
#storeheader>.nav>.icon >li{
  margin-left: 28px;
  transition: all 0.3s;
}
#storeheader>.nav>.icon >li:hover{
  transform: scale(1.1);
}
#storeheader>.nav>.icon button{
  color: #042866;
  background-color: transparent;
  border: 2px solid #042866;
  font-family: 'ONE Mobile Title';
  width: 60px; height: 30px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  position: relative; top: -3px;
  cursor: pointer;
}


/*------------------banner--------------------------------------*/

#storeBanner{
  width: 1920px;
  margin: auto;
  margin-top: 116px;
}
#storeBanner .view{
  margin: auto;
  width: 1920px; height: 600px;
  position: relative;
  overflow: hidden;
}
#storeBanner .view .imgGroup{
  position: absolute;
  width: 300%;
  height: 600px;
  display: flex;
}
#storeBanner .imgGroup img{
  width: 1920px;height: 600px;
}

/*********************content**********************/
#product{
  width: 100%;
  min-width: 1920px;
  background-color: #fff;
  margin: auto;
}
/*best*/
#best{
  width: 100%;
  height: 550px;
  position: relative;
  margin-top: 40px;
}
#best .bg{
  position: absolute;
  left: 0;
  bottom: 0;
}
#product .wrap{
  width: 1200px;
  margin: auto;
}
#product h1{
  font-family:'Jalnan';
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #0a3f9c;
  line-height: 200px;
}
#best .boxGroup{
  width: 1200px;
  display:flex;
  position: absolute;
  z-index: 3;
  justify-content: space-between;
  bottom: 10px;
}
#best .box{
  width: 258px;
  height: 328px;
  text-align: center;
}
#best .box .image{
  width: 96%;
  height: 236px;
  position: relative;
  border: 5px solid #18499f;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#best .box .image img:nth-child(1){
  width: 100%;
  position: absolute;
  top: 0; right:0;
  transition:all 0.3s ;
}
#best .box .image img:nth-child(2){
  position: absolute;
  left: 10px; top:0px ;
}
#best .iconBtn{
  width: 44px;
  position:absolute;
  right:10px ;bottom: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#best .iconBtn button{
  width: 44px;height: 44px;
  border-radius: 50%;
  border: none;
  margin-bottom: 6px;box-sizing: border-box;
  background-color: #fff;
  font-size: 18px;
  box-shadow: 0 0 10px 2px rgba(200, 200,200, 0.5);
  color: #999;
  cursor: pointer;
}
#best .iconBtn button:hover{
  color: #b12987;
  box-shadow:0 0 10px 2px rgba(200, 200,200) ;
}
#best .box .text{
  font-family:'ONE Mobile Title';
  padding-top:20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
}
#best .box .text em{
  color: #ccc;
  font-size: 14px;
  line-height: 40px;
}

#best .box:hover .image{
  border:5px solid #fbcd43;
  box-shadow: 4px -4px 0 #f4a511 ,8px -8px 0 #e2850b;
}
#best .box:hover .image img:nth-child(1){
  transform: scale(1.1);
}
#best .box:hover .iconBtn{
  opacity: 0.9;
}

/*new*/
#new{
  width:100%;
  margin: auto;
  margin-top: 60px;
  overflow: hidden;
}

#new >.wrap{
  width: 1200px;
  margin: auto;
  height: 200px;
  position: relative;
}
#new >.wrap > button{
  position: absolute;
  right: 0;
  top: 130px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-family:'ONE Mobile Title' ;
  font-style: oblique;
  color: #04286696;
  transition: all 0.3s;
  cursor: pointer;
}
#new >.wrap > button >i{
  font-size: 20px;
  position: relative;
  top: 3px;
}
#new >.wrap > button>img{
  width: 30px;
  opacity: 0;
  transition: all 0.3s;
}
#new >.wrap > button>em{
  position: relative;
  left: -10px;
}
#new >.wrap > button::after{
  content: "";
  display: block;
  position: relative;
  bottom: -6px;
  height: 2px; left: 14px;
  background-color: #042866;
  width: 110px;
  opacity: 0;
}

#new >.wrap > button:hover::after{
  animation: fill 0.3s linear;
  opacity: 1;
}

@keyframes fill{
  from{width:0;}
  to{width:80px;}
}
#new >.wrap > button:hover{
  color: #042866;
}
#new >.wrap > button:hover >img{
  opacity: 0.7;
}

#new .view{
  width: 1350px;
  height:440px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#new .boxGroup{
  width: 2475px;
  position: absolute;
  padding-left: 75px;
  left: -425px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
#new .box{
  width: 350px;
  height: 430px;
  text-align: center;
}
#new .box .image{
  width: 96%;
  height: 320px;
  position: relative;
  border: 6px solid #0a3f9c;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#new .box .image img{
  width: 100%;
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
  transition:all 0.3s ;
}

#new .iconBtn{
  width: 46px;
  position:absolute;
  right:24px ;bottom:10px;
  opacity: 0;
  transition: all 0.3s;
}
#new .iconBtn >button{
  width: 46px;height: 46px;
  border-radius: 50%;
  border: none;
  margin-bottom: 14px ;box-sizing: border-box;
  background-color: #fff;
  font-size: 20px;
  box-shadow: 0 0 10px 2px rgba(200, 200,200, 0.5);
  color: #999;
  cursor: pointer;
}
#new .iconBtn >button>i{
  position: relative; top: 2px;
}

#new .iconBtn >button:hover{
  color: #b12987;
  box-shadow:0 0 10px 2px rgba(200, 200,200) ;
}
#new .box .text{
  font-family:'ONE Mobile Title';
  padding-top:16px;
  box-sizing: border-box;
  color: #222;
  font-size: 20px;
}
#new .box .text em{
  color: #666;
  font-size: 16px;
  line-height: 50px;
}

#new .box:hover .image{
  border:6px solid #fbcd43;
  box-shadow: 5px -5px 0 #f4a511 ,9px -9px 0 #e2850b;
}
#new .box:hover .image img{
  transform: translate(-50%,-50%) scale(1.1) ;
}
#new .box:hover .iconBtn{
  opacity: 1;
}
#new> .view > button{
  position: absolute;
  top: calc(50% - 30px);transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.7;
}
#new .view> button> i{
  font-size: 130px;
  color: #0a3f9c;
}
#new .view .next{
  right: 4px;
}
#new .view .prev{
  left: 4px;
}
#new .view> button:hover{
  transform: translateY(-50%) scale(1.1);
  opacity: 1;
}


/*coffeeMd*/
#coffeeMd{
  width:100%;
  margin: auto;
  margin-top: 60px;
  overflow: hidden;
}

#coffeeMd >.wrap{
  width: 1200px;
  margin: auto;
  height: 200px;
  position: relative;
}
#coffeeMd >.wrap > button{
  position: absolute;
  right: 0;
  top: 130px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-family:'ONE Mobile Title' ;
  font-style: oblique;
  color: #04286696;
  transition: all 0.3s;
  cursor: pointer;
}
#coffeeMd >.wrap > button >i{
  font-size: 20px;
  position: relative;
  top: 3px;
}
#coffeeMd >.wrap > button>img{
  width: 30px;
  opacity: 0;
  transition: all 0.3s;
}
#coffeeMd >.wrap > button>em{
  position: relative;
  left: -10px;
}
#coffeeMd >.wrap > button::after{
  content: "";
  display: block;
  position: relative;
  bottom: -6px;
  height: 2px; left: 14px;
  background-color: #042866;
  width: 110px;
  opacity: 0;
}

#coffeeMd >.wrap > button:hover::after{
  animation: fill 0.3s linear;
  opacity: 1;
}

@keyframes fill{
  from{width:0;}
  to{width:80px;}
}
#coffeeMd >.wrap > button:hover{
  color: #042866;
}
#coffeeMd >.wrap > button:hover >img{
  opacity: 0.7;
}

#coffeeMd .view{
  width: 1350px;
  height:440px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#coffeeMd .boxGroup{
  width: 2475px;
  position: absolute;
  padding-left: 75px;
  left: -425px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
#coffeeMd .box{
  width: 350px;
  height: 430px;
  text-align: center;
}
#coffeeMd .box .image{
  width: 96%;
  height: 320px;
  position: relative;
  border: 6px solid #0a3f9c;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#coffeeMd .box .image img{
  width: 100%;
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
  transition:all 0.3s ;
}

#coffeeMd .iconBtn{
  width: 46px;
  position:absolute;
  right:24px ;bottom: 10px;
  opacity: 0;
  transition: all 0.3s;
}
#coffeeMd .iconBtn >button{
  width: 46px;height: 46px;
  border-radius: 50%;
  border: none;
  margin-bottom: 14px;box-sizing: border-box;
  background-color: #fff;
  font-size: 20px;
  box-shadow: 0 0 10px 2px rgba(200, 200,200, 0.5);
  color: #999;
  cursor: pointer;
}
#coffeeMd .iconBtn >button>i{
  position: relative; top: 2px;
}
#coffeeMd .iconBtn >button:hover{
  color: #b12987;
  box-shadow:0 0 10px 2px rgba(200, 200,200) ;
}
#coffeeMd .box .text{
  font-family:'ONE Mobile Title';
  padding-top:16px;
  box-sizing: border-box;
  color: #222;
  font-size: 20px;
}
#coffeeMd .box .text em{
  color: #666;
  font-size: 16px;
  line-height: 50px;
}

#coffeeMd .box:hover .image{
  border:6px solid #fbcd43;
  box-shadow: 5px -5px 0 #f4a511 ,9px -9px 0 #e2850b;
}
#coffeeMd .box:hover .image img{
  transform: translate(-50%,-50%) scale(1.1) ;
}
#coffeeMd .box:hover .iconBtn{
  opacity: 1;
}
#coffeeMd >.view > button{
  position: absolute;
  top: calc(50% - 30px);transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.7;
}
#coffeeMd >.view> button> i{
  font-size: 130px;
  color: #0a3f9c;
}
#coffeeMd .view .next{
  right: 4px;
}
#coffeeMd .view .prev{
  left: 4px;
}
#coffeeMd .view> button:hover{
  transform: translateY(-50%) scale(1.1);
  opacity: 1;
}


/*ediyaMd*/
#ediyaMd{
  width:100%;
  margin: auto;
  margin-top: 60px;
  overflow: hidden;
}

#ediyaMd >.wrap{
  width: 1200px;
  margin: auto;
  height: 200px;
  position: relative;
}
#ediyaMd >.wrap > button{
  position: absolute;
  right: 0;
  top: 130px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-family:'ONE Mobile Title' ;
  font-style: oblique;
  color: #04286696;
  transition: all 0.3s;
  cursor: pointer;
}
#ediyaMd >.wrap > button >i{
  font-size: 20px;
  position: relative;
  top: 3px;
}
#ediyaMd >.wrap > button>img{
  width: 30px;
  opacity: 0;
  transition: all 0.3s;
}
#ediyaMd >.wrap > button>em{
  position: relative;
  left: -10px;
}
#ediyaMd >.wrap > button::after{
  content: "";
  display: block;
  position: relative;
  bottom: -6px;
  height: 2px; left: 14px;
  background-color: #042866;
  width: 110px;
  opacity: 0;
}

#ediyaMd >.wrap > button:hover::after{
  animation: fill 0.3s linear;
  opacity: 1;
}

@keyframes fill{
  from{width:0;}
  to{width:80px;}
}
#ediyaMd >.wrap > button:hover{
  color: #042866;
}
#ediyaMd >.wrap > button:hover >img{
  opacity: 0.7;
}

#ediyaMd .view{
  width: 1350px;
  height:440px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#ediyaMd .boxGroup{
  width: 2475px;
  position: absolute;
  padding-left: 75px;
  left: -425px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
#ediyaMd .box{
  width: 350px;
  height: 430px;
  text-align: center;
}
#ediyaMd .box .image{
  width: 96%;
  height: 320px;
  position: relative;
  border: 6px solid #0a3f9c;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#ediyaMd .box .image img{
  width: 100%;
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
  transition:all 0.3s ;
}
#ediyaMd .only{
  width: 66px; height: 66px;
  position: absolute; right: 10px; top: 10px;
  background-color: #042866;
  border-radius: 50%;
  color: #fff;
  font-family:'ONE Mobile Regular';
  line-height:1.4 ;
  text-align: center;
  font-size: 14px;
  padding-top: 16px; box-sizing: border-box;
}

#ediyaMd .iconBtn{
  width: 46px;
  position:absolute;
  right:24px ;bottom: 10px;
  opacity: 0;
  transition: all 0.3s;
}
#ediyaMd .iconBtn >button{
  width: 46px;height: 46px;
  border-radius: 50%;
  border: none;
  margin-bottom: 14px;box-sizing: border-box;
  background-color: #fff;
  font-size: 20px;
  box-shadow: 0 0 10px 2px rgba(200, 200,200, 0.5);
  color: #999;
  cursor: pointer;
}
#ediyaMd .iconBtn >button>i{
  position: relative; top: 2px;
}
#ediyaMd .iconBtn >button:hover{
  color: #b12987;
  box-shadow:0 0 10px 2px rgba(200, 200,200) ;
}
#ediyaMd .box .text{
  font-family:'ONE Mobile Title';
  padding-top:16px;
  box-sizing: border-box;
  color: #222;
  font-size: 20px;
}
#ediyaMd .box .text em{
  color: #666;
  font-size: 16px;
  line-height: 50px;
}

#ediyaMd .box:hover .image{
  border:6px solid #fbcd43;
  box-shadow: 5px -5px 0 #f4a511 ,9px -9px 0 #e2850b;
}
#ediyaMd .box:hover .image img{
  transform: translate(-50%,-50%) scale(1.1) ;
}
#ediyaMd .box:hover .iconBtn{
  opacity: 1;
}
#ediyaMd >.view> button{
  position: absolute;
  top: calc(50% - 30px);transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.7;
}
#ediyaMd .view> button> i{
  font-size: 130px;
  color: #0a3f9c;
  transition: all 0.3s;
}
#ediyaMd .view .next{
  right: 4px;
}
#ediyaMd .view .prev{
  left: 4px;
}
#ediyaMd .view> button:hover{
  transform: translateY(-50%) scale(1.1);
  opacity: 1;
}
/*ediyaMd end*/

#ai{
  width: 100%;
  height: 650px;
  position: relative;
  margin-bottom: 200px
}
#ai .bg{
  position: absolute;
  right: 0;
  bottom: 60px;
}
#product .wrap{
  width: 1200px;
  margin: auto;
}
#ai h1{
  font-family:'Jalnan';
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #0a3f9c;
  margin-top: 40px;
}
#ai .compare{
  width:1140px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  top: 220px; 
  left: 50%; transform: translateX(-50%);
}
#ai .compare .thumb{
  display: flex;
  align-items: center;
}
#ai .compare .thumb a{
  width: 60px; height: 60px;
}
#ai .compare .thumb a:hover{
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.2);
}
#ai .compare .thumb p{
  margin-left: 20px;
  color: #ccc;
  line-height: 1.6;
}
#ai .compare .thumb p b{
  color: #fff;
}
#ai .compare h3{
  font-family: 'ONE Mobile Title';
  font-style: oblique;
  font-size: 24px;
  letter-spacing: 2px;
  position: relative;
  left: -38px;
}
#ai .boxGroup{
  width: 1200px;
  display:flex;
  position: absolute;
  z-index: 3;
  justify-content: space-between;
  bottom: 10px;
}
#ai .box{
  width: 258px;
  height: 328px;
  text-align: center;
}
#ai .box .image{
  width: 96%;
  height: 236px;
  position: relative;
  border: 5px solid #18499f;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
#ai .box .image img:nth-child(1){
  width: 100%;
  position: absolute;
  top: 0; right:0;
  transition:all 0.3s ;
}
#ai .box .image img:nth-child(2){
  position: absolute;
  left: 10px; top:0px ;
}
#ai .iconBtn{
  width: 44px;
  position:absolute;
  right:10px ;bottom: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#ai .iconBtn button{
  width: 44px;height: 44px;
  border-radius: 50%;
  border: none;
  margin-bottom: 6px;box-sizing: border-box;
  background-color: #fff;
  font-size: 18px;
  box-shadow: 0 0 10px 2px rgba(200, 200,200, 0.5);
  color: #999;
  cursor: pointer;
}
#ai .iconBtn button:hover{
  color: #b12987;
  box-shadow:0 0 10px 2px rgba(200, 200,200) ;
}
#ai .box .text{
  font-family:'ONE Mobile Title';
  padding-top:20px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
}
#ai .box .text em{
  color: #666;
  font-size: 14px;
  line-height: 40px;
}

#ai .box:hover .image{
  box-shadow: -4px 4px 0 #06327e ,-8px 8px 0 #042866;
}
#ai .box:hover .image img:nth-child(1){
  transform: scale(1.1);
}
#ai .box:hover .iconBtn{
  opacity: 0.9;
}



.footer{
  background-color:#fefce1;
  width: 100%;
  min-width: 1920px;
}
.footer .wrap{
  width: 1200px;
  margin: auto;
  padding-top: 80px; box-sizing: border-box;
  font-size:14px;
  color: #262626;
  font-family: 'ONE Mobile Regular';
}
.footer .up{
  display: flex;
  justify-content: space-between;
  line-height: 2.2;
  letter-spacing: 1px;
  padding-bottom: 60px;
}
.footer .up img{
  margin-right: 200px;
  opacity: 0.6;
}
.footer .up>ul>li:first-child{
  font-family: 'Jalnan';
  padding-bottom: 10px;
  color: #666;
}
.footer .down{
  width: 100%;
  height:250px;
  border-top: 2px solid rgba(102, 102, 102, 0.384);
  padding-top: 40px;
  position: relative;
}
.footer .contain{
  position: absolute;
  right:0
}
.footer .adress{
  line-height: 1.6;
}
.footer .adress li:last-child{
  line-height: 3;
  font-weight: bold;
}
.footer .app{
  display: flex;
  margin-top: 40px;
}
.footer .app li{
  margin-right: 20px;
}
.footer .app button{
  background-color: transparent;
  width: 170px; height: 45px;
  border: 2px solid rgba(102, 102, 102, 0.384);
  border-radius: 35px;
  line-height: 45px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.footer .app button i{
  font-size: 23px;
  position: relative;
  top: 4px;
  margin-right: 12px;
}
.footer .app li:first-child i{
  font-size: 28px;
}





