footer{
  background-color:#fefce1;
}
footer .wrap{
  width: 1200px;
  margin: auto;
  padding-top: 80px; box-sizing: border-box;
  font-size:14px;
  color: #262626;
  font-family: 'ONE Mobile Regular';
}
footer .up{
  display: flex;
  justify-content: space-between;
  line-height: 2.2;
  letter-spacing: 1px;
  padding-bottom: 60px;
}
footer .up img{
  opacity: 0.6;
}
footer .up >div{
  display: flex;
}
footer .up >div>ul{
  margin-left: 80px;
}
footer .up ul>li:first-child{
  font-family: 'Jalnan';
  padding-bottom: 10px;
  color: #666;
}
footer .down{
  width: 100%;
  height:250px;
  border-top: 2px solid rgba(102, 102, 102, 0.384);
  padding-top: 40px;
  position: relative;
}
footer .contain{
  position: absolute;
  right:0
}
footer .adress{
  line-height: 1.6;
}
footer .adress li:last-child{
  line-height: 3;
  font-weight: bold;
}
footer .app{
  display: flex;
  margin-top: 40px;
}
footer .app li{
  margin-right: 20px;
}
footer .app button{
  background-color: transparent;
  width: 170px; height: 45px;
  border: 2px solid rgba(102, 102, 102, 0.384);
  border-radius: 35px;
  line-height: 45px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
footer .app button i{
  font-size: 23px;
  position: relative;
  top: 4px;
  margin-right: 12px;
}
footer .app li:first-child i{
  font-size: 28px;
}