/*header*/
header{
  width: 100%;
  left:0;top:0;
  position: absolute;
  z-index: 3;
 
}

header> .wrap{
 width:1200px;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: space-between; 
 padding:20px 0 ; 
}

.navi{ 
  display: flex;
}

.navi > li{
  margin-left: 70px;
  color: #042866;
  font-family: 'ONE Mobile'
}

.navi > li > a{/*주메뉴를 감싸고 있는 a요소만 선택하여 글자두께를 변경함*/
  font-size:18px;
  font-weight: bold;
  height:60px;
  line-height: 60px;
  display:block;
  box-sizing:border-box;
  letter-spacing: 1px;
  padding: 0 2px;
  position: relative;
}
.navi > li > a::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #042866;
  width: 0;
  border-radius: 2px;
  transition: all 0.5s;
}

.navi > li:hover a::after{
  width:100%;
}


.sub{
  position:absolute;
  width:100%;
  font-size:16px;
  line-height: 40px;
  display:none;
  padding-top: 10px;
}
.sub > li{
  transition: all 0.3s;
}
.sub > li:hover{
  color: #fbcd43;
}
.sub > li> a{
  display: inline-block;
  width: 100%;
}
